{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Create Product</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div id="map">
          <img src="{% static 'images/product.jpg' %}" alt="Item 1" width="100%"></img>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <div class="container">
            <form id="contact" action="" method="post">
              {% csrf_token %}
              <div class="row">
                {{ form }}

                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" class="button">Create</button>
                  </fieldset>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}