{% extends 'base.html' %}

{% block content %}
 
<div class=container>
    <div class=row>
        <h2>Welcome, {{ user.username }}!</h2>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Product code</th>
            <th>Price</th>
            <th>Category</th>
            <th>Manufacture date</th>
            <th>Expiry date</th>
            <th>Product owner</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
        {% for product in product_list %}
        <tr>
            <td id="{{product.id}}"><input type="text" id="name" name="name" class="field-update" value="{{product.name}}"></td>
            <td id="{{product.id}}"><input type="text" id="product_code" name="product_code" class="field-update" value="{{product.product_code}}"/></td>
            <td id="{{product.id}}"><input type="number" id="price" name="price" class="field-update" value="{{product.price}}"/></td>

            <td id="{{product.id}}">   
                <select name="category" id="{{product.id}}" class="field-update" >
                    {% for obj in category_list %}
                        {% if obj.name == product.category.name %}
                            <option value="{{obj.id}}" selected>{{obj.name}}</option>
                        {% else %}
                            <option value="{{obj.id}}">{{obj.name}}</option>
                        {% endif %}
                    {% endfor %}

                  </select>
            <td id="{{product.id}}"><input type="text" readonly id="manufacture_date" name="manufacture_date" class="field-update" value="{{product.manufacture_date}}"/></td>

            <td id="{{product.id}}"><input type="text" readonly id="expiry_date" name="expiry_date" class="field-update" value="{{product.expiry_date}}"></td>
            <td id="{{product.id}}"><input type="text" readonly id="product_owner" name="product_owner" class="field-update" value="{{product.product_owner}}"></td>
            
            <td>Delete</td>
        </tr>
        {% endfor %}
        
        
        
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Product code</th>
            <th>Price</th>
            <th>Category</th>
            <th>Start date</th>
            <th>Expiry date</th>
            <th>Product owner</th>
            <th>Delete</th>
        </tr>
    </tfoot>
</table>
</div>
<div class=row>
    <h2>Create Product</h2>
    <br>
  </div>
  <div class=row>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js">
</script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
</script>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
$(".field-update").on('change', function(){
    debugger;
    var type = this.type
    var name = this.name
    // if(type=='checkbox'){value=this.checked}else{value=this.value}
    var value = (type=='checkbox') ? this.checked : this.value
    var product_id = this.parentElement.attributes.id.value
    var data = {'type': type, 'name': name, 'value': value, 'product_id': product_id,'csrfmiddlewaretoken':getCookie('csrftoken')}
    $.ajax({
        type: "POST",
        url: "",
        data: data,
        success: function(result) {
            alert('updated successfully');
        },
        error: function(result) {
            alert('error');
        }
    });
});

var getCookie = function(name){
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<style>
    div#example_wrapper {
    overflow: auto;
}
</style>
<div class=container>
    
  </div>
{% endblock %}



